#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

.dashboard {
    position: relative;
    z-index: 1;
    color: #fff; /* Optioneel: witte tekst voor leesbaarheid */
}

.card {
    background-color: white; /* Donkere transparante achtergrond */
    color: #fff; /* Witte tekst in kaarten */
    border-radius: 10px;
}

/* Animations */
.fade-in {
    opacity: 0;
    animation: slideInUp 1s ease-in forwards;
}

.fade-in2 {
    opacity: 0;
    animation: fadeIn 0.6s ease-in forwards 0.4s; 
}

.slide-in-left {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInLeft 0.8s ease-out forwards 0.4s;  
}

.slide-in-right {
    opacity: 0;
    transform: translateX(50px);
    animation: slideInRight 0.8s ease-out forwards 0.6s;  
}

/* Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Card styles */
.card {  
   margin-bottom: 20px;  
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
   transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);  
   cursor: pointer;  
   transform-origin: center;  
   background-color: white;  
}

.card:hover:not(.expanded) {
    transform: scale(1.02);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.chart-controls {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card:hover .chart-controls,
.expanded .chart-controls {
    opacity: 1;
}

.form-select {
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-select:hover {
    background-color: #f8f9fa;
}

.card-title {
    color: #333;
    font-weight: 500;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.display-4 {
    font-weight: 300;
    margin-bottom: 2rem;
}