@model DataAccessLayer.Models.Product

@{
    ViewData["Title"] = "Nieuw Product aanmaken";
}

<video autoplay loop muted playsinline id="bg-video">
    <source src="/Videos/matrix.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

<h1 class="text-white">Nieuw Product aanmaken</h1>

<div class="card matrix-card shadow mb-4">
    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" id="Submit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Naam</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Beschrijving</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Prijs</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Stock" class="control-label">Voorraad</label>
                    <input asp-for="Stock" class="form-control" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <input type="button" onclick="myFunction()" value="Aanmaken" class="btn btn-primary" /> |
    <a class="btn btn-secondary" asp-action="Index">Terug naar klantenoverzicht</a>
</div>

@section Scripts {
    <script>
        function myFunction() {
          document.getElementById("Submit").submit();
        }
    </script>
}
}
