@model DataAccessLayer.Models.Product

@{
    ViewData["Title"] = "Product Informatie";
}

<h1>Informatie</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Naam
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Beschrijving
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
       <dt class="col-sm-2">
            Prijs
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Aanpassen</a> |
    <a asp-action="Index">Terug naar productoverzicht</a>
</div>
